.header {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bold {
    font-weight: bold;
}

.content {
    text-align: center;
    background-color: #282c34;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.row {

}

.row button {
    margin: 0.2rem;
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
}

.active {
    background-color: red;
}

.reset {
    padding-top: 2rem;
}

.reset button{
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
}

.timer {
    padding-bottom: 2rem;
    font-size: 2rem;
}